


<div class="rounded d-flex justify-content-between bg-light p-3"><h3><b>Add User</b></h3><span><button style="color: white;" *ngIf="isEdit == false" (click)="show()" class="btn btn-info"><i class="fa fa-add"></i>&nbsp;New User</button></span></div>
<div class="vessel p-3" *ngIf="isEdit == true">
    <div class="body rounded">
        <div class="header p-2 bg-light rounded-top">
            <b><b *ngIf="Edit == true">Edit</b><b *ngIf="Edit == false">Create</b> User</b>
        </div>
        <div class="fields p-3 mt-2 mb-2">
            <form>
                <div class="row mx-auto">
                    <div class="col-md-6">
                        <div class="custom-select d-flex">
                            <label class="mt-2" for="select">User_Type:</label>&nbsp;&nbsp;
                            <select id="subcategory" name="name" [(ngModel)]="name" (change)="onOptionChange($event)">
                                <option *ngFor="let user of users"[value]="user" >{{user}}</option>
                            </select>
                        </div><br>
                        <div *ngIf="showElement">
                            <div class="d-flex">
                                <label for="" class="mt-2">Date_of_Joining:</label>&nbsp;&nbsp;
                                <input [(ngModel)]="doj" name="doj" type="date" class="form-control" placeholder="">
                            </div><br>
                        </div>
                        <div class="d-flex">
                            <label for="" class="mt-2">Name:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Name" name="Name" type="text" class="form-control" placeholder="">
                        </div><br>
                        <div class="d-flex">
                            <label for="" class="mt-2">password</label>&nbsp;&nbsp;
                            <input [(ngModel)]="pswd" name="pswd" type="password" class="form-control" placeholder="">
                        </div><br>
                        <div class="d-flex">
                            <label for="" class="mt-2">Re_enter_password</label>&nbsp;&nbsp;
                            <input [(ngModel)]="pswd" name="pswd" type="password" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-select d-flex">
                            <label class="mt-2" for="select">Status:</label>&nbsp;&nbsp;
                            <select id="subcategory" name="status" [(ngModel)]="status">
                                <option *ngFor="let status of Status" [value]="status">{{status}}</option>
                            </select>
                        </div><br>
                        <div *ngIf="showElement">
                            <div class="d-flex">
                                <label for="" class="mt-2">Department:</label>&nbsp;&nbsp;
                                <input [(ngModel)]="dept" name="dept" type="text" class="form-control w-50" placeholder="">&nbsp;
                                <div class="d-flex">
                                    <label for=""></label>
                                    <button mat-raised-button color="primary">Assign Asset</button>
                                </div><br>
                            </div><br>
                        </div>
                        <div class="d-flex">
                            <label for="" class="mt-2">phone:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="phone" name="phone" type="number" class="form-control" placeholder="">
                        </div><br>
                        <div class="d-flex">
                            <label for="" class="mt-2">email</label>&nbsp;&nbsp;
                            <input [(ngModel)]="email" name="email" type="email" class="form-control" placeholder="">
                        </div><br>
                        <div class="d-flex">
                            <label for="" class="mt-2">Date of Birth</label>&nbsp;&nbsp;
                            <input [(ngModel)]="dob" name="dob" type="date" class="form-control" placeholder="">
                        </div>
                    </div>
                   
                </div>
                
            </form>
            
        </div>
        <div class="buttons p-2 bg-light rounded-bottom">
            <button (click)="add()" mat-raised-button color="primary">save</button>
            <button (click)="cancel()" class="mx-1" *ngIf="isEdit == true" mat-raised-button color="warn">cancel</button>
        </div>
    </div>
    
</div><br>


<div class="table p-2" *ngIf="isEdit == false">
    <h2>Employees List </h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Emp ID</th>
            <th scope="col">Name</th>

            <th scope="col">Type</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>

           
 
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.id}}</td>
            <td>{{item.Name}}</td>

            <td>{{item.name}}</td>


            <td>{{item.dept}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>{{item.status}}</td>
            




            
            <td>
                <button  mat-raised-button color="primary" (click)="update(i)">Edit</button>
                <button mat-raised-button color="warn" (click)="remove(i)" class="mx-1">Delete</button>
            </td>
          </tr>
          <tr *ngIf="allData.length==0">No data found</tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>WORLD SECURITY CHECK</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
      </table>
</div>