<div class="w-100  d-flex rounded p-3 justify-content-between"><h3><b>All Tickets</b></h3><button *ngIf="Show == false" (click)="show()" class="btn btn-info text-light"><i class="fa fa-add"></i>&nbsp;Add Ticket</button></div>
<div class="vessel p-3" *ngIf="Edit == false">
    <div class=" body rounded">
        <div class="header p-2 bg-light rounded-top">
            <h6>Tickets</h6>
        </div>
        <div class="middle p-2 table-container">
            <table class="table w-100">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>RAISED_BY</th>
                    <th>ASSIGNED_TO</th>
                    <th>CREATED_BY</th>
                    <th>UPDATED_AT</th>
                    <th>RESOLVED_AT</th>
                    <th>CLOSED_AT</th>
                    <th>REASON</th>
                    <th>CLOSED_BY</th>
                    <th>TICKET_STATUS</th>
                    <th>CHANGED_BY</th>
                    <th>COMMENT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allData let i=index">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.prob_desc}}</td>
                    
        
                    <td>{{item.raised_by}}</td>
        
                    <td>{{item.assigned_to}}</td>
                    <td>{{item.created_by}}</td>
        
                    <td>{{item.updated_at}}</td>
        
                    <td>{{item.resolved_by}}</td>
                    <td>{{item.Closed_at}}</td>
        
                    <td>{{item.reasone}}</td>
                    <td>{{item.closed_by}}</td>
                    <td>{{item.ticket_status}}</td>
                    <td>{{item.changed_by}}</td>
                    <td>{{item.comment}}</td>
                    <td>
                        <div class="d-flex">
                            <button  mat-raised-button color="primary" (click)="update(i)">Edit</button>&nbsp;
                            <button mat-raised-button color="warn" (click)="remove(i)">delete</button>
                            
                        </div>
                    </td>
                  </tr>
                  <tr *ngIf="allData.length==0">No data found</tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td>WORLD SECURITY CHECK</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
                </tbody>
              </table>
        </div>
    </div>
</div>



<div class="vessel p-2" *ngIf="show1 == true">
    <div class="body rounded ">
        <div class="header p-2 bg-light rounded-top">
            <h2>Edit Ticket</h2>
        </div>
        <div class="middle p-2">
            <form>
                <div class="row mx-auto">
                    <div class="col-md-6">
                        <div class="">
                            <label for="" class="mt-2">Assigned_to:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Assigned_to" name="Assigned_to" type="number" class="form-control">
                        </div><br>
                        <div class="">
                            <label for="" class="mt-2">Updated_at:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Updated_at" name="Updated_at" type="date" class="form-control" id="">
                        </div><br>
                        <div class="">
                            <label for="" class="mt-2">Resloved_at:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Resloved_at" name="Resloved_at" type="date" class="form-control" id="">
                        </div><br>
                        <div class="">
                            <label for="" class="mt-2">Closed_at:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Closed_at" name="Closed_at" type="date" class="form-control" id="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label for="" class="mt-2">Closed_by:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Closed_by" name="Closed_by" type="number" class="form-control">
                        </div><br>
                        <div class="">
                            <label for="" class="mt-2">Ticket_Status:</label>&nbsp;&nbsp;
                            <select class="form-control" id="subcategory" [(ngModel)]="Ticket_Status">
                                <option *ngFor="let i of Status" [value]="i">{{i}}</option>
                            </select>
                        </div><br>
                        <div class="">
                            <label for="" class="mt-2">Changed_by:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="Changed_by" name="Changed_by" type="text" class="form-control">
                        </div>
                    </div>
                </div><br>
            </form>
        </div>
        <div class="footer p-2">
            <button mat-raised-button color="primary" (click)="cancel()">cancel</button>&nbsp;
            <button mat-raised-button color="primary" (click)="add_()">Update</button>
        </div>
    </div>
</div>

<div class="vessel2" *ngIf="Show == true">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-3">
            <div class="body rounded">
                <div class="header p-2 bg-light rounded-top">
                    <b>Add Ticket</b>
                </div>
                <div class="fields p-3 mt-2 mb-2">
                    <form>
                        <div class="row mx-auto">
                            <div class="col-md-6">
                                <div class="">
                                    <label for="" class="mt-2">Title:</label>&nbsp;&nbsp;
                                    <input [(ngModel)]="Title" name="title" type="text" class="form-control">
                                </div><br>
                                <div class="">
                                    <label for="" class="mt-2">Description:</label>&nbsp;&nbsp;
                                    <input [(ngModel)]="Description" name="desc" type="text" class="form-control" id="">
                                </div><br>
                                <div class="">
                                    <label for="" class="mt-2">Raised_by:</label>&nbsp;&nbsp;
                                    <input [(ngModel)]="Raised_by" name="raised" type="number" class="form-control" id="">
                                </div><br>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                    <label for="" class="mt-2">Created_at:</label>&nbsp;&nbsp;
                                    <input [(ngModel)]="Created_by" name="Date" type="date" class="form-control">
                                </div><br>
                                <div class="">
                                    <label for="" class="mt-2">Comment:</label>&nbsp;&nbsp;
                                    <input [(ngModel)]="Comment" name="comment" type="text" class="form-control">
                                </div>
                            </div>
                        </div><br>
                    </form>
                    
                </div>
                <div class="buttons p-2 bg-light rounded-bottom">
                    <button (click)="add()"  mat-raised-button color="primary">Create Ticket</button>&nbsp;
                    <button (click)="cancel()" mat-raised-button color="warn">Cancel</button>&nbsp;
                </div>
            </div>
        </div>
    </div>
    
</div>