<div class="header p-3 bg-light bg rounded justify-content-between d-flex"><h4><i class="fa fa-book"></i>&nbsp;Asset</h4><span><button style="color: white;" *ngIf="isEdit == false" (click)="show()" class="btn btn-info"><i class="fa fa-add"></i>&nbsp;New Asset</button></span>
</div>
<div class="vessel" *ngIf="isEdit == true">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="body rounded">
            <div class="header p-2 bg-light rounded-top">
                <b><b *ngIf="Edit == true">Edit&nbsp;</b>Asset</b>
            </div>
            <div class="fields p-3 mt-2 mb-2">
                <form>
                    <div>
                        <div class="d-flex">
                            <label for="" class="mt-2">Name:</label>&nbsp;&nbsp;
                            <input [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="eg:Laptop">
                        </div>
                    </div><br>
                    <div class="row">
                      <div class="col-md-6">
                          <div class="custom-select d-flex">
                              <label class="mt-2" for="select">Category:</label>&nbsp;&nbsp;
                              <select name="category" [(ngModel)]="category">
                                  <option *ngFor="let i of CATEGORY" [value]="i.namedata">{{i.namedata}}</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mt-2">
                        <div class="custom-select d-flex">
                            <label class="mt-2" for="select">SubCategory:</label>&nbsp;&nbsp;
                            <select name="subcategory" [(ngModel)]="subcategory">
                              <option *ngFor="let i of SUBCATEGORY" [value]="i">{{i.subname}}</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="custom-select d-flex mt-2">
                          <label class="mt-2" for="select">Brand:</label>&nbsp;&nbsp;
                          <select name="brand" [(ngModel)]="brand">
                            <option *ngFor="let i of BRAND" [value]="i">{{i}}</option>
                        </select>
                      </div>
                  </div>
                  <div class="d-flex mt-2">
                    <label for="" class="mt-2">Asset:</label>&nbsp;&nbsp;
                    <input type="text" class="form-control" name="asset" [(ngModel)]="asset">
                </div>              </div>
                </form>
                
            </div>
            <div class="buttons p-2 bg-light rounded-bottom">
                <button (click)="add()"  mat-raised-button color="primary">Save</button>&nbsp;
                <button (click)="cancel()"  mat-raised-button color="warn">Cancel</button>
            </div>
        </div>
      </div>
    </div>
    
</div>
<div class="table p-2" *ngIf="isEdit == false">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Sub Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Asset</th>
            <th scope="col">Actions</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allData let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>

            <td>{{item.category}}</td>

            <td>{{item.subcategory}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.asset}}</td>
            <td>
                <button  mat-raised-button color="primary" (click)="update(i)">Edit</button>
                <button mat-raised-button color="warn" (click)="remove(i)" class="mx-1">Delete</button>

            </td>
          </tr>
          <tr *ngIf="allData.length==0">No data found</tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>WORLD SECURITY CHECK</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
      </table>
</div>