<div class="w-100 bg-light p-3"><h3><b>UnAssigned Tickets</b></h3></div>
<div class="vessel p-3">
    <div class=" body rounded">
        <div class="header p-2 bg-light rounded-top">
            <h6>Unassigned</h6>
        </div>
        <div class="middle p-2">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TECH_CATEGORY</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">RAISED_BY</th>
                    <th scope="col">CREATED_AT</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allData let i=index">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.tech_cat}}</td>
        
                    <td>{{item.desc}}</td>
                    <td>{{item.raised}}</td>
                    <td>{{item.created}}</td>
                    <td>
                        <div class="d-flex">
                            <button mat-raised-button color="primary" routerLink="/tech">Assign</button>
                        </div>
                    </td>
                  </tr>
                  <tr *ngIf="allData.length==0">No data found</tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td>WORLD SECURITY CHECK</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
                </tbody>
              </table>
        </div>
    </div>
</div>