.bg-night-fade{
    background: rgb(134,34,195);
    background: linear-gradient(0deg, rgb(171, 98, 216) 0%, rgba(253,45,252,1) 100%);
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.bg-arielle-smile{
    background: rgb(134,34,195);
    background: linear-gradient(0deg, rgb(98, 187, 216) 0%, rgb(45, 215, 253) 100%);
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.bg-grow-early{
    background: rgb(134,34,195);
    background: linear-gradient(0deg, rgb(7, 122, 49) 0%, rgb(67, 217, 2) 100%);
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}
.scroll-area-sm {
    height: 200px;
    overflow-x: hidden;
}
.widget-heading{
    font-size: 1.2rem;
    font-weight: 600;
}
.widget-subheading{
    font-size: 0.9rem;
    color: grey;
}
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}
.list-group-item:hover, .list-group-item:focus {
    z-index: 1;
    text-decoration: none;
}
.widget-content .widget-content-right {
    margin-left: auto;
}
.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
}
body .card-header {
    height: auto;
    display: block;
    padding: .75rem 1.5rem;
    text-align: center;
}
@media (max-width: 767.98px){
    .card-header.card-header-tab .card-header-title {
        display: inline-flex !important;
        line-height: 1;
    }
}
.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}
.fsize-3 {
    font-size: 1.6rem !important;
}
.text-muted {
    color: #6c757d !important;
}
@media (max-width: 991.98px){
    .widget-content .widget-numbers {
        font-size: 1.6rem;
        line-height: 1;
    }
}
@media (max-width: 767.98px){
    body .card-header .btn-actions-pane-right {
        padding: .75rem 0 0;
    }
}
.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
}
.adjust_height{
    height: auto;
}
a{
    text-decoration: none;
}
