<!-- <div class="vessel">
    <div class="header">
        <div class="row mx-auto py-md-2 mt-3" data-aos="fade-up">
            <div class="col-md-6 p-5">
                <h1 style="font-size: 80px;">DashBoard</h1>
                <h4>An Open Source Library</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias a sed, earum minima perspiciatis similique fuga, magnam beatae asperiores ut sapiente necessitatibus ipsam mollitia sint tempore, repellendus laudantium iusto!</p>
            </div>
            <div class="col-md-6">
                <img src="https://i.pinimg.com/originals/a5/f3/44/a5f344433c43a76b7dc708aa94c6aa6b.jpg" width="100%" alt="">
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="col-md-12 p-5" data-aos="fade-up">
            <h1>Installations</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nesciunt recusandae accusamus sed omnis modi alias dicta assumenda quaerat praesentium distinctio officiis necessitatibus iure nam reprehenderit placeat ex quis et.</p>
            <h5>install angular material</h5>
            <input disabled="" [(ngModel)]="textareaInput">
            <button mat-button [cdkCopyToClipboard]="textareaInput"><mat-icon>content_copy</mat-icon>Copy</button><br><br>
            <h5>install echarts</h5>
            <input disabled="" [(ngModel)]="textareaInput1">
            <button mat-button [cdkCopyToClipboard]="textareaInput1"><mat-icon>content_copy</mat-icon>Copy</button><br>
        </div>
    </div>
</div> -->